[Desktop Entry]
Version=1.0
Type=Application
Exec=tagreg
Icon=metarace_icon.svg
Terminal=true
StartupNotify=true
Name=Transponder Tool
Comment=Manage Transponder Allocations
Categories=Utility;GTK;Sports;
#Categories=Utility;GTK;Sports;X-Xfce-Toplevel;
